# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuições
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Pytest
.cache

# mypy
.mypy_cache/

# Python Virtual Environment
venv/
ENV/
env/
.venv/
